html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    line-height: 1.5em;
    margin: 0;
}


/* home page */

.cover {
    background: url("https://s3.amazonaws.com/images.wpr.com/flag-pages/png1000/ke.png") center no-repeat;
    background-size: cover;
}

.front {
    color: #ffffff;
    font-size: 200%;
    text-align: center;
}

.btn {
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    padding: 25px 25px;
    background-color: #228b22c4;
    color: white;
}

h2 {
    text-align: center;
}

.w {
    margin: 18vh;
    color: #228b22;
}


/* facts page */

img {
    width: 100%;
    height: 25%;
    margin: auto;
}

input {
    border: 1px solid #ff0000;
    cursor: pointer;
    background: #228b22;
    padding: 15px 15px;
    margin: 0 auto;
    display: block;
}

.contanier {
    padding-top: 9em;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

iframe {
    display: block;
    margin: 0 auto;
}

.coat {
    width: auto;
    height: auto;
    padding: 25px;
    margin: 20px;
}

h3 {
    padding-top: 2em;
    font-size: 3em;
    text-align: center;
}

li {
    padding: 1em;
    text-align: center;
    list-style: inside;
    list-style: none;
}

.facts {
    border: 1px solid #ffe600;
    padding: 1em;
    margin: 13px;
}

@media (max-width: 780px) {
    body .cover {
        background-size: cover;
        background-position: center;
        margin: -97px;
    }
    .w h1 {
        line-height: initial;
        FONT-SIZE: larger;
    }
    img {
        width: 100%;
        margin: auto;
    }
    .contanier {
        display: grid;
    }
}